pydantic-ai
openai
colorama
dataclasses
asyncio
devtools
html-to-markdown
rich
elasticsearch
jira
pymsteams
logfire
chainlit
elasticsearch_dsl
langchain
langchain-ai
langchain-community
langchain-elasticsearch
